In [1]:
import pandas as pd

data=pd.read_csv(r'C:\Users\singh\Desktop\python3\Project1\Part_1\DS - Assignment Part 1 data set.csv',skipinitialspace = True)
data.columns = [c.strip().lower().replace(' ', '_') for c in data.columns]
data.columns = [c.strip().replace("(","").replace(")","") for c in data.columns]

print(data.head())

   transaction_date  house_age  distance_from_nearest_metro_station_km  \
0          2012.917       32.0                                84.87882
1          2012.917       19.5                               306.59470
2          2013.583       13.3                               561.98450
3          2013.500       13.3                               561.98450
4          2012.833        5.0                               390.56840

   number_of_convenience_stores  latitude  longitude  number_of_bedrooms  \
0                            10  24.98298  121.54024                   1
1                             9  24.98034  121.53951                   2
2                             5  24.98746  121.54391                   3
3                             5  24.98746  121.54391                   2
4                             5  24.97937  121.54245                   1

   house_size_sqft  house_price_of_unit_area
0              575                      37.9
1             1240                      42.2
2             1060                      47.3
3              875                      54.8
4              491                      43.1

In [2]:
print(data.columns)

Index(['transaction_date', 'house_age',
       'distance_from_nearest_metro_station_km',
       'number_of_convenience_stores', 'latitude', 'longitude',
       'number_of_bedrooms', 'house_size_sqft', 'house_price_of_unit_area'],
      dtype='object')

In [3]:
features = ["house_age", "number_of_convenience_stores", "number_of_bedrooms", "house_size_sqft" ]

x=data[features]

print(x.head())

   house_age  number_of_convenience_stores  number_of_bedrooms  \
0       32.0                            10                   1
1       19.5                             9                   2
2       13.3                             5                   3
3       13.3                             5                   2
4        5.0                             5                   1

   house_size_sqft
0              575
1             1240
2             1060
3              875
4              491

In [4]:

data ['SalePrice'] = data.house_size_sqft * data.house_price_of_unit_area
y=data.SalePrice
print(y.head())

0    21792.5
1    52328.0
2    50138.0
3    47950.0
4    21162.1
Name: SalePrice, dtype: float64

In [5]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor(random_state=1)
model.fit(x,y)

predict=model.predict(x)

print(predict)

[ 21792.5  52328.   50138.   47950.   21162.1  26578.8  44934.5  61457.2
  11054.4  23757.5  19292.4  82676.3  46059.6  22086.4  17561.6  66761.
 101014.1  21243.2  54609.3  58337.1  43569.1  77193.6  35350.2  60449.8
  17188.4  27297.   63674.6  31617.6  53110.   27179.6  22630.4  36950.
  33447.6  27903.8  66450.6  34097.7  25899.9  12928.3  28572.3  57103.2
   8872.2  24260.6  33832.5  15242.7  70824.6  21907.6  23394.   53320.5
   6298.   16196.4  47603.4  21031.2  21843.   16376.9  61678.1  14193.2
  36997.7  29318.   26374.2  44350.4   9585.   68445.6  29722.1  71995.
  21808.6  59849.3  58000.8  80940.   47168.6  24402.   54693.   21746.4
  50529.6  23520.   58969.6  14514.   46441.6  33484.8  13678.2  25387.
  19666.4  17148.8  64405.9  20992.2  50429.8  58166.   13905.   16067.4
  43920.   11916.3  43311.6  18403.2  28688.8   8629.6  40344.   64750.
  68901.   28648.8  67473.   31970.8  35373.2  28919.1  55923.2  25317.8
  14365.5  40470.   41024.1  24285.8  32224.5  29649.6  43705.2  44758.4
   9563.4  10374.   65132.6  20462.4   6039.   15691.   14382.   32660.8
  38311.2  21264.   27300.   37219.   28298.2  46267.2  29688.8  62480.
  25311.9  52644.   44625.   17345.5  43725.   16037.   52581.2  23857.6
  21200.4  20334.6  58290.   22865.   24980.4  33148.3  16762.5  48200.2
  37942.4  19201.   70783.2  22377.6  43972.5  56016.7  26190.   42420.3
  31732.2  35583.   11012.4  20155.2  20313.   16981.2  18163.4  19896.8
  56066.   55440.    5440.4  31357.5  72422.4  45716.4 106572.8  47219.2
  21692.   31537.   21052.8  24166.8  48920.2  31203.9  56002.8  18359.5
  23155.2  22764.   54683.   24708.   20630.5  82843.8  23647.2  17352.4
   9635.6  11094.   11205.2  25850.   21795.6  20418.   34263.   47476.8
  42700.   53687.7  37709.1  37402.6  19654.2  26413.6  53488.8  14472.8
  10455.   61460.1  18427.5  25078.4  29260.   20223.   20064.   36012.6
  11842.4  55174.1  43639.2  48633.   42824.7  78532.   12247.4  20586.8
  45258.   52672.8  63729.   23436.6  92942.1  16054.5  55532.5  53721.
  40480.   22638.    7526.4  55476.   56106.4  10621.   19004.6  17478.3
  19836.   31590.   11806.6  40675.5  69142.3  22542.   50506.4  31897.8
  12124.8  20368.8  39712.6  23039.6  27385.4  49735.2  20543.6  10741.5
  25042.9  21585.   12600.   13386.   61342.8  29008.   49987.   23803.2
  30581.   60933.2  76276.5  29174.4  15749.1  11053.2  31270.   15057.5
  38529.4  53149.5  33725.1  34811.7  33844.4  12443.  161327.5  25917.
  36045.   38060.7  22304.   68834.5  44710.   36508.6  63712.   13684.
  46943.6  24147.2  29542.4  21079.5  18335.2  81291.   24546.8  48330.1
  22389.   64347.   44178.   65715.2  21462.   39397.5  50673.   19598.2
  19948.5  38703.   23029.3  59791.7  20036.7  17778.6  24452.8  43929.6
  28518.   50270.   65511.   20056.4  25970.   10581.4  21884.2  36967.2
  33774.   40745.6  62025.6  25225.2  54894.   20550.   70068.6  10813.8
  22729.2  46559.5  15888.   25245.   35181.2  44424.6  29187.   49288.1
  11941.6   8793.6  12416.    6645.6  59043.6  57523.2  11035.2  48800.5
  29085.2  41189.7  19602.   59119.2  44229.9  29600.   26322.   59834.4
  41694.4  31798.1  43120.   10449.6  63527.1  41783.   48475.8  14986.4
  25879.9  28201.3  40424.3  29925.1  19207.2  59223.1  46047.1  21637.2
  50444.1  33738.9  22000.   54480.   45313.9  16667.5  14607.2  17556.
  53702.6  30780.   44626.   44668.8  23655.   61178.4  52321.5  30368.8
  30012.   75260.   38896.   98277.   61241.7  68632.3  12042.3  45539.
  19350.   39097.4  31244.5  35968.   13786.5  39198.3  55506.8  46762.2
  43560.2  16643.9  10398.7  46240.   28933.3  39606.    9775.   18239.7
  34222.   34541.9  15304.5  21795.3  58504.   30057.6  51354.   13090.1
  13403.7  12366.2  63900.   20421.8  31342.5  70098.3]